body {
  background-image: url("../images/background_index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.btn-group-custom {
  display: flex;
  justify-content: space-between;
}
